[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
fastai = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
